apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: simple-nodejs-app-7vzl
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-szfz-tenant/nodejs-users/simple-nodejs-app-7vzl@sha256:8f41a7c49757b19fa8852c9640449b5bd832a0ff293ebe6cd01dd6ec2c9d8d19
        name: my-nodejs
        resources: {}
status: {}
